/* Customize simple.css */

/* Global variables. */
:root {
 /* Default (light) theme */
  --accent: #0067AC;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --accent: #0067AC;
  }
}

h1 {
  font-size: 2rem;
}

header h1 {
  font-size: 3rem;
}


img{
  /* size for images */
  max-width:70%;
  height:auto;
  margin:auto;
  /*soft corners*/
  border-radius: 5px;
}